@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --green-light: #e6f4ea;
  --green-medium: #55a66c;
  --green-dark: #1d5131;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

